:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --primary: #6979f8;
  --primary-hover: #A5AFFB;
  --second: #BE52F2;
  --second-hover: #DBA5F5;
  --success: #00C48C;
  --success-hover: #7DDFC3;
  --info: #0084F4;
  --info-hover: #66B5F8;
  --warning: #FFA26B;
  --warning-hover: #FFC7A6;
  --danger: #FF647C;
  --danger-hover: #FDAFBB;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #fafafa;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */
